#root {
  margin: 0 auto;
}

body {
  background-image: url('/pokemon.jpg');
  display: flex;
  align-items: center;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading_container {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
}

.heading_container h1 {
  color: black;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

/* Style for the input field */
.input-field {
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px;
}

.button:hover {
  background-color: #0056b3;
}

.search_container {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: white;
  color: black;
  padding: 10px;
}
.search_container label {
  margin-right: 10px;
}

.statistics_container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.stat_card {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 200px;
  color: black;
  text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table headings */
th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Style for table data */
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style for alternate rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(odd) {
  background-color: #ef1313;
  color: black;
}

/* Style for images */
img {
  width: 80px;
  height: auto;
}